[project]
name = "lsdb"
license = {file = "LICENSE"}
readme = "README.md"
description = "Spatial analysis for extremely large astronomical databases using dask"
authors = [
    { name = "LINCC Frameworks", email = "lincc-frameworks-team@lists.lsst.org" }
]
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: BSD License",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
]
dynamic = ["version"]
requires-python = ">=3.10"
dependencies = [
    # Includes dask[array,dataframe,distributed,diagnostics].
    # dask distributed eases the creation of parallel dask clients.
    # dask diagnostics is required to spin up the dashboard for profiling.
    "dask[complete]",
    "deprecated",
    "hats>=0.5.0",
    "nested-dask>=0.3.4",
    "nested-pandas>=0.3.8",
    "pyarrow",
    "scipy", # kdtree
]

[project.urls]
source = "https://github.com/astronomy-commons/lsdb"
documentation = "https://lsdb.readthedocs.io/"

# On a mac, install optional dependencies with `pip install '.[dev]'` (include the single quotes)
[project.optional-dependencies]
dev = [
    "asv==0.6.4", # Used to compute performance benchmarks
    "jupyter", # Clear notebook output
    "mypy", # Used for static type checking of files
    "pre-commit", # Used to run checks before finalizing a git commit
    "pylint", # Used for static linting of files
    "pytest",
    "pytest-cov", # Used to report total code coverage
    "pytest-mock", # Used to mock objects in tests
]
full = [
    "fsspec[full]", # complete file system specs.
    "ipykernel", # Support for Jupyter notebooks
    "ipywidgets", # useful for tqdm in notebooks.
    "lsst-sphgeom", # To handle spherical sky polygons
]

[build-system]
requires = [
    "setuptools>=62", # Used to build and package the Python project
    "setuptools_scm>=6.2", # Gets release version from git. Makes it available programmatically
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/lsdb/_version.py"

[tool.pytest.ini_options]
markers = [
    "sphgeom: mark tests as having a runtime dependency on lsst-sphgeom",
]
testpaths = [
    "tests",
]

[tool.setuptools.package-data]
lsdb = ["py.typed"]

[tool.coverage.report]
omit = [
    "src/lsdb/_version.py", # auto-generated
]

[tool.black]
line-length = 110
target-version = ["py38"]

[tool.isort]
profile = "black"
line_length = 110

[tool.ruff]
line-length = 110
target-version = "py310"

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    "W",
    # Pyflakes
    "F",
    # pep8-naming
    "N",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
    # docstrings
    "D101",
    "D102",
    "D103",
    "D106",
    "D206",
    "D207",
    "D208",
    "D300",
    "D417",
    "D419",
    # Numpy v2.0 compatibility
    "NPY201",
]

ignore = [
    "UP006", # Allow non standard library generics in type hints
    "UP007", # Allow Union in type hints
    "SIM114", # Allow if with same arms
    "B028", # Allow default warning level
    "SIM117", # Allow nested with
    "UP015", # Allow redundant open parameters
    "UP028", # Allow yield in for loop
]

[tool.coverage.run]
omit=["src/lsdb/_version.py"]

[tool.mypy]
plugins = "pydantic.mypy"
disable_error_code = ["operator"]
