git+https://github.com/astronomy-commons/hats.git@issue/401/migrate-box-filter
git+https://github.com/lincc-frameworks/nested-pandas.git@main
git+https://github.com/lincc-frameworks/nested-dask.git@main