
ipykernel
ipython
ipywidgets
jupytext
nbconvert
nbsphinx
sphinx
sphinx-autoapi
sphinx-copybutton
sphinx-book-theme
sphinx-design
git+https://github.com/astronomy-commons/hats.git@main
git+https://github.com/astronomy-commons/hats-import.git@main
