
ipykernel
ipython
ipywidgets
jupytext
lsst-sphgeom
nbconvert
nbsphinx
sphinx
sphinx-copybutton
sphinx-book-theme
sphinx-design
git+https://github.com/astronomy-commons/hats.git@main
git+https://github.com/astronomy-commons/hats-import.git@main
git+https://github.com/lincc-frameworks/nested-pandas.git@main
