
ipykernel
ipython
ipywidgets
jupytext
lsst-sphgeom
matplotlib
nbconvert
nbsphinx
sphinx
sphinx-copybutton
sphinx-book-theme
sphinx-design
numpydoc
git+https://github.com/astronomy-commons/hats-import.git@main